
.info {
    background-color: #336663;
    min-height: 100vh;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

