.login {
    text-align: center;
}

.login {
    background-color: azure;
    min-height: 100vh;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #336663;
    width: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }